.header{
  background-color:salmon;
  height:120px;
}

.header-logo{
  width: 400px;
  margin:0 auto;
}

.header-logo img{
  height:100px;
}

ol{
  display:inline-block;
}

h2{
  background-color: coral;
}

h3{
  background-color: crimson;
}

.back-ground{
  background-image:url("./images/wakusei_concept_art.png");
  background-size:cover;
  height:2000px;
  background-attachment:fixed;
}

.footer{
  background-color:rgba(23, 19, 51, 0.808);
  height:150px;
  color:white;
  font-size:80px;
  text-align:center;
  padding:30px 0 0 0;
}

.title{
  margin:0px 100px 0px 100px;
  font-family:serif;
  font-size:150px;
  padding:80px 0 0 0;
  font-weight:bold;
}

.text{
  padding:20px;
  margin:20px 200px;
  font-size:30px;
}

button{
  margin:60px 400px 100px 210px;
  padding:60px 200px;
  font-size:30px;
  background-color:rgb(255, 110, 110);
  color:white;
  opacity:0.9;
}

.main{
  height:2000px;
}