/*pc表示*/
.header {
  background-color: salmon;
  height: 120px;
}

.header-logo {
  width: 300px;
  margin: 0 auto;
}

.header-logo img {
  height: 100px;
}

.background {
  background-image: url("./images/wakusei-concept-art.png");
  background-size: cover;
  height: 2000px;
  background-attachment: fixed;
}

.background::before {
  animation-name: fade;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1000;
  right: 0;
  bottom: 1000;
  left: 0;
  content: " ";
  height: 750px;
}

.Discordlogo {
  height: 100px;
  position: absolute;
  top: 120px;
  left: 200px;
  animation-name: fade;
  animation-duration: 1s;
}

.sub-title {
  color: white;
  position: absolute;
  font-size: 50px;
  top: 95px;
  left: 600px;
  animation-name: fade;
  animation-duration: 1s;
}

.box {
  position: absolute;
  width: 100%;
}

.title {
  font-family: serif;
  font-size: 250px;
  top: 20px;
  left: 130px;
  font-weight: bold;
  color: white;
  animation-name: fade;
  animation-duration: 3s;
  position: absolute;
}

.whiteback {
  background-color: whitesmoke;
  position: absolute;
  content: " ";
  background-size: cover;
  height: 1000px;
  width: 100%;
  margin: 750px 0 0 0;
}

.content1 {
  font-family: "yurumoji", sans-serif;
  animation: fadeUpanime 0.5s ease 0s forwards, scale 0.5s ease 1.2s forwards;
  opacity: 0;
  position: absolute;
  text-align: center;
  margin: 230px 0px 0px 640px;
  padding: 100px 120px 100px 120px;
}

.content1 h2 {
  opacity: 0.8;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes fadeUpanime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@font-face {
  font-family: "pigmo";
  src: url("./fonts/Pigmo-01.otf") format("truetype");
}

@font-face {
  font-family: "yurumoji";
  src: url("./fonts/yurumoji.ttf") format("truetype");
}

@font-face {
  font-family: "hanahata";
  src: url("./fonts/HANAHATA.TTF") format("truetype");
}

.alien1 {
  position: absolute;
  height: 150px;
  right: 480px;
  bottom: 200px;
  opacity: 0;
  animation: fadeRightAnime 0.5s ease 0.7s forwards,
    rotateleft 0.5s ease 1.3s forwards;
}

.alien2 {
  position: absolute;
  height: 150px;
  left: 470px;
  top: 260px;
  opacity: 0;
  animation: fadeLeftAnime 0.5s ease 0.7s forwards,
    rotateright 0.5s ease 1.6s forwards;
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes rotateleft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

@keyframes rotateright {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wide-border {
  position: absolute;
  border-top: solid 1px rgb(202, 202, 202);
  width: 1500px;
  bottom: -900px;
  left: 200px;
  opacity: 0.1;
  animation: fadeUpanime 0.5s ease 0s forwards;
}

/*タブレット表示*/
@media screen and (max-width: 767px) {
  .color {
    color: green;
  }
}

/*スマホ表示*/
@media screen and (max-width: 479px) {
  .color {
    color: red;
  }
}
