a.btn--orange {
    color: #fff;
    background-color: #eb6100;
    padding:20px 60px 20px 60px;
    border-radius:5px;
}
  a.btn--orange:hover {
    color: #fff;
    background: #c4b8b0;
    top:10px;
    cursor:pointer;
    transform:translate(0,5px);
  }
a.btn--shadow {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}